name: build-test

on:
  push

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Docker
      uses: docker/setup-docker@v2
    - name: Run containers
      run: docker-compose -f docker/docker-compose.yaml up --abort-on-container-exit
