name: build-test

on:
  push

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install Docker
      run: |
        sudo apt-get update
        sudo apt-get install -y docker.io
    - name: Run containers
      run: docker-compose -f docker/docker-compose.yaml up --abort-on-container-exit
